
<div class="smartup-container">
  <!-- Left Sidebar Menu -->
  <div class="menu-bar">
    <div class="menu-header">
      <div class="logo">SmartUP</div>
    </div>
    <ul class="menu-items">
      <li *ngFor="let menu of menuItems" class="menu-item">
        <a href="#" 
           [class.active]="activeMenu === menu.id"
           [class.expanded]="isMenuExpanded(menu.id)"
           (click)="toggleMenu(menu.id, $event)">
          {{ menu.label }}
          <span class="dropdown-arrow" [class.rotated]="isMenuExpanded(menu.id)">▼</span>
        </a>
        <ul class="sub-menu" *ngIf="isMenuExpanded(menu.id)">
          <li *ngFor="let subItem of menu.subItems">
            <a href="#" 
               [class.active]="activeMenu === subItem.id"
               (click)="setActiveMenu($event, subItem.id)">
              {{ subItem.label }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Right Content Wrapper -->
  <div class="content-wrapper">
    <!-- Header -->
    <div class="smartup-header">
      <div class="header-left">
        <div class="datetime">{{ currentDateTime }}</div>
      </div>
      <div class="header-right">
        <div class="center-info">
          <i class="icon-building"></i>
          <span>CENTRE FORT NABEUL(7)</span>
        </div>
        <div class="user-actions">
          <button class="btn-action" (click)="onInherit()">
            <i class="icon-inherit"></i>
            Hériter
          </button>
          <button class="btn-action" (click)="onAdmin()">
            <i class="icon-user"></i>
            Administrateur
          </button>
          <button class="btn-action btn-help" (click)="onHelp()">
            <i class="icon-help"></i>
            AIDE
          </button>
        </div>
      </div>
    </div>
   
    <!-- Main Content Area -->
    <div class="main-content">
      <div class="wave-background"></div>
      <div class="content-overlay">
        <!-- Your main content goes here -->
      </div>
    </div>
  </div>
</div>